@model IdentityApp.Models.Voyage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureBusStopId)
        </dt>
        
        <dd>
        @Html.DisplayFor(model => model.BusStops.Single(bs => bs.Id == Model.DepartureBusStopId).Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivelBusStopId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusStops.Single(bs => bs.Id == Model.ArrivelBusStopId).Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivelTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivelTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeInVoyage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeInVoyage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfVoyage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfVoyage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfVoyage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfVoyage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
