@model IdentityApp.Models.BuisnessModels.Order

@{
    ViewBag.Title = "Create";


    List<SelectListItem> list = new List<SelectListItem>();
    foreach (var item in ViewBag.FreeSeats)
    {
        list.Add(new SelectListItem { Value = item.ToString(), Text = item.ToString() });
    }

}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <h3>@Model.Voyages.Single(v=>v.Id==Model.VoyageId).NameOfVoyage</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SeatNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("seat", list, "Свободные места", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VoyageId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.Hidden("VoyageId",Model.VoyageId)
                @Html.Hidden("Status",Model.Status)
                @Html.Hidden("CustomerId",Model.CustomerId)
                
                <input type="submit" value="Забронировать?" class="btn btn-default" />
            </div>
        </div>
    </div>
    
}

<div>
    @Html.ActionLink("Back to List", "IndexForUsers","Voyages")
</div>
