@model IEnumerable<IdentityApp.Models.BuisnessModels.Order>

@{
    ViewBag.Title = "Index";
    var voyages = (List<IdentityApp.Models.Voyage>)ViewBag.Voyages;
    var users = (List<IdentityApp.Models.ApplicationUser>)ViewBag.Users;
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VoyageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => voyages.Single(v=>v.Id==item.VoyageId).NameOfVoyage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => users.Single(u=>u.Id==item.CustomerId).UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
